<h1>Listing Monsters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Team</th>
      <th><%= link_to 'Weakness', monsters_path(sort: 'weakness') %></th>
      <th><%= link_to 'Name', monsters_path(sort: 'name') %></th>
      <th><%= link_to 'Power', monsters_path(sort: 'power') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.team.try :team_name %></td>
        <td><%= monster.monster_type.type_weakness %> <%= monster.monster_type.type_name %></td>
        <td><%= monster.monster_name %></td>
        <td><%= monster.monster_power %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
